{% extends 'base.html.twig' %}

{% block body %}
<section>

    {{ dump(simulationEuromillion) }}
</section>
<!-- Services -->


{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #eeeeee;
            margin: 1em auto;
            max-width: 1000px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }
        .input-group{
            margin:5px;
        }
        .help-inline{
            background-color: #ff8610;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}
   {% block javascripts %}

<script>
/*
    $('select').on('change', function() {
      var num= this.value;
      var id= this.getAttribute('id').valueOf();
          alert(  this.getAttribute('id').valueOf());
      //alert(  this.getAttribute('id').indexOf('num'));
            if(this.getAttribute('id').indexOf('num') >=0){
               for(i=1;i<=5;i++){
                   var grille= '#grille_num'+i;
                   var id2= $(grille.toString()).getAttribute('id').valueOf();
                   if( id2 != id ){
                       alert('ok '+i);

                   }
               }
            }else{
                alert('dans etoile');
            }
    });*/
  /* function valider(){
       alert($('#grille_num1').value);
   }*/

</script>

   {% endblock %}
